h1{
    color: #023e8a;
    text-align: center;
}

p{
    color:#0077b6;
    background-color:#caf0f8;
    padding: 15px;
    border: 10px solid #03045e;
    /*margin:50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin: 10px 20px 30px 10px*/
    margin:auto 50px;
    text-align: center;
}